* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
  font-family: Arial, sans-serif;
  background-color: #212534;
  color: #fff;
  line-height: 1.6;
  margin: 0;
  padding: 0 ;
}

main{
  padding: 0 40px;
}

html {
    font-size: 16px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    
  }
  
  p {
    margin-bottom: 1rem;
    color: #fff;
  }

  a {
    color: #00f;
  }
  
  a:hover {
    text-decoration: underline;
  }

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 12px;
    background-color: #212534;
}

ul>li{
    padding-right: 80px;
    display: inline-block;
    list-style-type: none;
}

.theme{
    padding: 6px 12px;
    border-radius: 4px;
}

/* styling third party */
.btn {
    color: white;
    padding: .55rem 2.5rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2rem;

}

.btn-intermediate {
    background: linear-gradient(to right, #FF416C, #FF4B2B);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;

}
  
.btn-intermediate:hover {
    transform: scale(1.1);
}


.formplace{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 12px 40px;
}

h2{
    margin: 40px;

}

/* cards */
.book-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* adjust minmax values as needed */
    column-gap: 16px;
    padding: 16px;
    row-gap: 40px;
}

/* codepen card magic-card */
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 50vh;
  --card-width: calc(var(--card-height) / 1);
}

.magic-card {
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
}

.magic-card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.magic-card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}



.card-title{
  font-weight:600;
  font-size:28px;
  color: #33c7cc;
}



.btn1{
    color: white;
    padding: .35rem 1.5rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0 6px;
    transition: transform 0.3s ease;
}
.btn1:hover{
  transform: scale(1.1)
}

.btn{
  transition: transform 0.3s ease;
}


.footer {
  background:#191c29;
  margin: 40px 0 0;
  padding: 14px;
  display: flex;
  justify-content: center;
}
footer>p{
  margin: 0;
  color: #d3b3b3;
  text-align: center;
}

footer a{
  color: white;
}